#app {
    $header-height: 54.5px;
    $footer-height: 47px;
    .app-content {
        height: calc(100vh - #{$header-height});
        overflow-y: auto;
        main {
            min-height: calc(100% - #{$footer-height});
            padding: 40px;
        }
    }
}